<form nz-form class="new-post-form" [formGroup]="form" (submit)="onSubmit()">
  <nz-form-item>
    <nz-form-control>
      <input type="text" nz-input formControlName="title" placeholder="TITLE">
      <nz-form-explain *ngIf="form.get('title').dirty && form.controls['title'].errors?.required">PLEASE REQUIRE TITLE</nz-form-explain>
      <nz-form-explain *ngIf="form.get('title').dirty && form.controls['title'].errors?.exist">THIS TITLE JUST EXIST</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="published">
        <span>PUBLISHED</span>
      </label>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!form.valid"> CREATE NEW POST </button>
    </nz-form-control>
  </nz-form-item>
</form>
