@import "../../../style/index";

:host {
  .new-blog-modal-form-open-folder-icon {
    margin: 7px $spacing-s;
    font-size: $size-text-l;

    &:hover {
      color: $primary;
      cursor: pointer;
    }
  }
}
