<div fxLayout="row" fxLayoutAlign="start stretch" fxFlexFill class="post">
  <div class="article-sidebar" fxLayout="column">
    <div class="article-sidebar-search" fxFlex="none">
      <nz-input-group nzSuffixIcon="anticon anticon-search">
        <input type="text" nz-input [formControl]="searchFormControl" placeholder="input search text">
      </nz-input-group>
    </div>
    <div class="article-sidebar-list-wrapper" fxFlex>
      <div class="article-sidebar-list-title" > DRAFTS </div>
      <app-article-list-item *ngFor="let draft of drafts" [article]="draft"></app-article-list-item>
      <div class="article-sidebar-list-title"> POSTS </div>
      <app-article-list-item *ngFor="let draft of posts" [article]="draft"></app-article-list-item>
    </div>
  </div>
  <div fxFlex>
    <router-outlet>
    </router-outlet>
  </div>
</div>
