@import "../../../../styles";

:host {
  .article-sidebar {
    overflow-y: auto;
    width: $help-sidebar-width;
    border-right: $border-color solid thin;

    .article-sidebar-search {
      padding: $spacing-s $spacing-m;
      border-bottom: $border-color solid thin;
    }

    .article-sidebar-list-wrapper {
      overflow: scroll;

      .article-sidebar-list-title {
        padding: $spacing-m $spacing-m $spacing-xs ;
        border-bottom: $border-color solid thin;
        font-weight: bold;
      }
    }
  }
}
