<div class="save-article-image-modal">
  <div class="save-article-image-modal-preview-wrapper">
    <div class="save-article-image-modal-preview" #imagePreview></div>
  </div>
  <span class="save-article-image-modal-info">
    SIZE: {{this.imageSize.width}} x {{this.imageSize.height}}
  </span>
  <form nz-form class="save-article-image-modal-form" [formGroup]="form" (submit)="onSubmit()">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzAddOnAfter] = "formatExtension">
          <input formControlName="fileName" nz-input>
          <ng-template #formatExtension>
            <nz-select formControlName="format" style="width: 100px;">
              <nz-option nzLabel=".png" nzValue="png"></nz-option>
              <nz-option nzLabel=".jpg" nzValue="jpg"></nz-option>
            </nz-select>
          </ng-template>
        </nz-input-group>
        <nz-form-explain *ngIf="form.get('fileName').dirty && form.controls['fileName'].errors?.required">PLEASE REQUIRE FILENAME</nz-form-explain>
        <nz-form-explain *ngIf="form.get('fileName').dirty && form.controls['fileName'].errors?.exist">THIS FILENAME JUST EXIST</nz-form-explain>
        <nz-form-explain *ngIf="form.get('format').dirty && form.controls['format'].errors?.required">PLEASE REQUIRE FORMAT</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <button nz-button nzType="primary" [disabled]="!form.valid" [nzLoading]="isSaving">SAVE IMAGE</button>
    </nz-form-item>
  </form>
</div>
