@import "../../../../styles";

:host {
  .post-sidebar {
    overflow-y: auto;
    width: $help-sidebar-width;
    border-right: $grey-3 solid thin;

    .post-sidebar-search {
      padding: $spacing-s $spacing-m;
      border-bottom: $grey-6 solid thin;
    }

    .post-sidebar-list-wrapper {
      overflow: scroll;

      .post-sidebar-list-title {
        padding: $spacing-xs $spacing-m ;
        border-bottom: $grey-3 solid thin;
        font-weight: bold;
        background-color: $grey-3;
      }

      & /deep/ .ant-list-item:hover {
        background-color: $blue-2;
      }

      nz-list-item {
        cursor: pointer;
        padding: $spacing-m $spacing-m ;
        &.active {
          background: $blue-5;

          * {
            color: white;
          }

          .post-item-title, .post-item-subtitle {
            color: white;
          }
        }

        .post-item-post-icon, .post-item-draft-icon {
          padding-right: $spacing-s;
        }

        .post-item-draft-icon {
          color: $danger;
        }

        .post-item-title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $blue-6;
        }

        .post-item-subtitle {
          color: $grey-6;
        }

        &:hover {
          .post-item-remove {
            display: block;
          }
        }

        .post-item-remove {
          cursor: pointer;
          display: none;

          &:hover {
            color: $danger;
          }
        }
      }
    }
  }
}
