<div fxLayout="row" fxLayoutAlign="start stretch" fxFlexFill class="post">
  <div class="post-sidebar" fxLayout="column">
    <div class="post-sidebar-search" fxFlex="none">
      <nz-input-group nzSuffixIcon="anticon anticon-search">
        <input type="text" nz-input [formControl]="searchFormControl" placeholder="input search text">
      </nz-input-group>
    </div>
    <div class="post-sidebar-list-wrapper" fxFlex>
      <div class="post-sidebar-list-title" > DRAFTS </div>
      <nz-list [nzDataSource]="drafts" [nzRenderItem]="ArticleItemTmp" [nzItemLayout]="'horizontal'"></nz-list>

      <div class="post-sidebar-list-title"> POSTS </div>
      <nz-list [nzDataSource]="posts" [nzRenderItem]="ArticleItemTmp" [nzItemLayout]="'horizontal'"></nz-list>

      <ng-template #ArticleItemTmp let-item>
        <nz-list-item [nzContent]="postItem" [routerLink]="item._id" routerLinkActive="active">
          <ng-template #postItem>
            <div fxLayout fxLayoutAlign="start center" fxFill fxFlex
                 class="post-item" [ngClass]="{'post-item-post': item.published, 'post-item-draft': !item.published}">
              <i fxFlex="none" class="anticon post-item-icon" [ngClass]="{'anticon-file-text': item.published, 'anticon-exception': !item.published}"></i>
              <div fxFlex class="post-item-info">
                <div class="post-item-title"> {{item.title}} {{item.publish}}</div>
                <div class="post-item-subtitle"> {{item.date.format('YYYY-MM-DD')}} </div>
              </div>
              <div fxFlex="none" fxLayout class="post-item-actions-wrapper">
                <div class="post-item-actions">
                  <nz-dropdown>
                    <button nz-button nz-dropdown nzShape="circle" nzSize="small"><i class="anticon anticon-ellipsis"></i></button>
                    <ul nz-menu>
                      <li nz-menu-item>
                        <a (click)="removeArticle(item)"><i class="anticon anticon-delete"></i> DELETE </a>
                      </li>
                    </ul>
                  </nz-dropdown>
                </div>
              </div>
            </div>
          </ng-template>
        </nz-list-item>
      </ng-template>

      <ng-template #postItemOptions>
        <ul nz-menu nzInDropDown>
          <li nz-menu-item> RENAME </li>
        </ul>
      </ng-template>
    </div>
  </div>
  <div fxFlex>
    <router-outlet>
    </router-outlet>
  </div>
</div>
