<div fxLayout="row" fxLayoutAlign="start stretch" fxFlexFill class="post">
  <div class="post-sidebar">
    <div class="post-sidebar-list-title"> DRAFTS </div>
    <nz-list [nzDataSource]="drafts" [nzRenderItem]="draftItemTmp" [nzItemLayout]="'horizontal'">
      <ng-template #draftItemTmp let-item>
        <nz-list-item [nzContent]="draftItem">
          <ng-template #draftItem>
            <a [routerLink]="item._id" class="post-item" fxLayout="row" fxLayoutAlign="start center" fxFill>
              <i fxFlex="none" class="anticon anticon-exception post-item-draft-icon"></i>
              <div fxFlex>
                <div class="post-item-title"> {{item.title}} </div>
                <div class="post-item-subtitle"> {{item.date.format('YYYY-MM-DD')}} </div>
              </div>
            </a>
          </ng-template>
        </nz-list-item>
      </ng-template>
    </nz-list>

    <div class="post-sidebar-list-title"> POSTS </div>
    <nz-list [nzDataSource]="posts" [nzRenderItem]="postItemTmp" [nzItemLayout]="'horizontal'">
      <ng-template #postItemTmp let-item>
        <nz-list-item [nzContent]="postItem">
          <ng-template #postItem>
            <a [routerLink]="item._id" class="post-item">
              <div class="post-item-title"> {{item.title}} </div>
              <div class="post-item-subtitle"> {{item.date.format('YYYY-MM-DD')}} </div>
            </a>
          </ng-template>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>
  <div fxFlex>
    <router-outlet>
    </router-outlet>
  </div>
</div>
