@import "../../../../style/index";

:host {
  .settings {
    padding: $spacing-l;

    .settings-config-yml-form {

      .settings-config-yml-form-button {
        position: absolute;
        bottom: $spacing-xxl;
        right: $spacing-xxl;
        z-index: 99;
      }

      .settings-config-yml-content-wrapper {
        position: relative;
        /deep/ .CodeMirror {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
