$white: white;
$black: black;
$grey-1: #fbfbfb;
$grey-2: #f7f7f7;
$grey-3: #f5f5f5; // most user
$grey-4: #e9e9e9;
$grey-5: #d9d9d9;
$grey-6: #bfbfbf; // most user
$grey-7: #919191;
$grey-8: #5a5a5a;
$grey-9: #404040; // most user
$grey-10: #222222;
$grey-11: #121212;


$blue-1: #ecf6fd;
$blue-2: #d2eafb;
$blue-3: #add8f7;
$blue-4: #7ec2f3;
$blue-5: #49a9ee;
$blue-6: #108ee9;
$blue-7: #0e77ca;
$blue-8: #0c60aa;
$blue-9: #09488a;
$blue-10: #073069;

$green-4: #95de64;
$green-6: #52c41a;

$transparent-light-85: rgba(255, 255, 255, .85);
$transparent-light-65: rgba(255, 255, 255, .65);
$transparent-light-45: rgba(255, 255, 255, .45);
$transparent-light-25: rgba(255, 255, 255, .25);
$transparent-light-15: rgba(255, 255, 255, .15);
$transparent-light-9: rgba(255, 255, 255, .09);
$transparent-light-4: rgba(255, 255, 255, .04);
$transparent-light-2: rgba(255, 255, 255, .02);

$transparent-dark-85: rgba(0, 0, 0, .85);
$transparent-dark-65: rgba(0, 0, 0, .65);
$transparent-dark-45: rgba(0, 0, 0, .45);
$transparent-dark-25: rgba(0, 0, 0, .25);
$transparent-dark-15: rgba(0, 0, 0, .15);
$transparent-dark-9: rgba(0, 0, 0, .09);
$transparent-dark-4: rgba(0, 0, 0, .04);
$transparent-dark-2: rgba(0, 0, 0, .02);

$success: $green-4;
$primary: $blue-6;
$danger: #f5222d;
$hexo-color: #0D83CD;
$border-color: $transparent-dark-25;
$sidebar-color: $white;

