$white: white;
$black: black;
$sidebar-color: #001529;

$grey-1: #fbfbfb;
$grey-2: #f7f7f7;
$grey-3: #f5f5f5;
$grey-4: #e9e9e9;
$grey-5: #d9d9d9;
$grey-6: #bfbfbf;
$grey-7: #919191;
$grey-8: #5a5a5a;
$grey-9: #404040;
$grey-10: #222222;


$blue-1: #ecf6fd;
$blue-2: #d2eafb;
$blue-3: #add8f7;
$blue-4: #7ec2f3;
$blue-5: #49a9ee;
$blue-6: #108ee9;
$blue-7: #0e77ca;
$blue-8: #0c60aa;
$blue-9: #09488a;
$blue-10: #073069;

$danger: #f5222d;
