<form nz-form class="rename-article-modal" [formGroup]="form" (submit)="onSubmit()">
  <nz-form-item>
    <nz-form-control>
      <input type="text" nz-input formControlName="fileName" placeholder="FILENAME">
      <nz-form-explain *ngIf="form.get('fileName').dirty && form.controls['fileName'].errors?.required">PLEASE REQUIRE FILENAME</nz-form-explain>
      <nz-form-explain *ngIf="form.get('fileName').dirty && form.controls['fileName'].errors?.exist">THIS FILENAME JUST EXIST</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!form.valid" [nzLoading]="isRenaming"> RENAME FILE</button>
    </nz-form-control>
  </nz-form-item>
</form>
