@import '../../../style/index';

:host {
  .sidebar {
    height: 100%;
    background-color: $sidebar-color;
    padding: $spacing-m 0px;

    button {
      margin-top: $spacing-xs;
      margin-bottom: $spacing-xs;
      border: none;

      .server-running {
        color: $success;
      }
    }

    hr {
      width: 90%;
      display: block;
      height: 1px;
      border: 0;
      border-top: thin solid $grey-6;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      margin: $spacing-m;
    }
  }

  .ant-menu-item {
    outline: none;
    i {
      font-size: 18px;
    }
  }
}
