$spacing-xxs: 2px;
$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;
$spacing-xxl: 64px;

$spacing-CodeMirror-padding-scroll: 500px;

$help-sidebar-width: 280px;
