@import "../../../style/index";
$editor-toolbar-height: 48px;

:host {
  > *[tabindex]{
    &:focus, &:hover{
      outline: none;
    }
  }
  .article-md-editor {
    .article-md-editor-action-bar {
      > * {
        margin-left: $spacing-m;
      }
      .article-md-editor-preview-icon {
        padding-right: $spacing-xs;
        font-size: $size-icon-m;
      }
    }

    .article-md-editor-editor-toolbar {
      /deep/ .ant-btn-group {
        margin-right: $spacing-xs;
        > .ant-btn {
          line-height: initial;
        }
      }
    }

    .article-md-editor-divider {
      margin-top: $spacing-s;
      margin-bottom: $spacing-s;
    }

    .article-md-editor-form-wrapper {
      border: thin solid $grey-3;
      .article-md-editor-form {

        /deep/ {
          .ant-collapse-item {
            border-color: $grey-3;
          }

          .CodeMirror {
            height: auto;
            min-height: 150px;
            padding: $spacing-s;
            font: inherit;

            * {
              font-weight: normal;
            }
          }

        }

        .article-md-editor-info-wrapper {
          /deep/ {
            .ant-collapse-content{
              background: $grey-3;
            }
            .CodeMirror {
              padding: 0;
              background: $grey-3;
            }
          }
        }

        .article-md-editor-content-wrapper {
          position: relative;
          /deep/ .CodeMirror {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;

            .CodeMirror-code{
              padding-bottom: $spacing-CodeMirror-padding-scroll;
            }
          }


        }
      }
      /deep/ .article-md-editor-markdown-preview {
        background: $grey-1;
        padding: $spacing-m;
        overflow: scroll;
      }
    }
  }
}
