@import "../../../../../style/index";
$editor-toolbar-height: 48px;

:host {
  > *[tabindex]{
    &:focus, &:hover{
      outline: none;
    }
  }
  .post-detail {
    padding: $spacing-m;
    .post-detail-content {

    }

    .post-detail-action-bar {
      > * {
        margin-left: $spacing-m;
      }
      .post-detail-preview-icon {
        padding-right: $spacing-xs;
        font-size: $size-icon-m;
      }
    }

    .post-detail-editor-toolbar {
      /deep/ .ant-btn-group {
        margin-right: $spacing-xs;
        > .ant-btn {
          line-height: initial;
        }
      }
    }

    .post-detail-divider {
      margin-top: $spacing-s;
      margin-bottom: $spacing-s;
    }

    .post-detail-form-wrapper {
      border: thin solid $grey-3;
      .post-detail-form {

        /deep/ {
          .ant-collapse-item {
            border-color: $grey-3;
          }

          .CodeMirror {
            height: auto;
            min-height: 150px;
            padding: 10px;
            font: inherit;

            * {
              font-weight: normal;
            }
          }

        }

        .post-detail-info-wrapper {
          /deep/ {
            .ant-collapse-content{
              background: $grey-3;
            }
            .CodeMirror {
              padding: 0;
              background: $grey-3;
            }
          }
        }

        .post-detail-content-wrapper {
          position: relative;
          /deep/ .CodeMirror {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;

            .CodeMirror-code{
              padding-bottom: $spacing-CodeMirror-padding-scroll;
            }
          }

          // simplemde Editor Class:
          // https://github.com/sparksuite/simplemde-markdown-editor/blob/master/src/css/simplemde.css
          /deep/ {
            .CodeMirror-scroll {
              min-height: 300px
            }

            .CodeMirror-fullscreen {
              background: #fff;
              position: fixed !important;
              top: 50px;
              left: 0;
              right: 0;
              bottom: 0;
              height: auto;
              z-index: 9;
            }

            .CodeMirror-sided {
              width: 50% !important;
            }

            .CodeMirror .CodeMirror-code .cm-tag {
              color: #63a35c;
            }

            .CodeMirror .CodeMirror-code .cm-attribute {
              color: #795da3;
            }

            .CodeMirror .CodeMirror-code .cm-string {
              color: #183691;
            }

            .CodeMirror .CodeMirror-selected {
              background: #d9d9d9;
            }

            .CodeMirror .CodeMirror-code .cm-header-1 {
              font-size: 180%;
              line-height: 180%;
            }

            .CodeMirror .CodeMirror-code .cm-header-2 {
              font-size: 160%;
              line-height: 160%;
            }

            .CodeMirror .CodeMirror-code .cm-header-3 {
              font-size: 125%;
              line-height: 125%;
            }

            .CodeMirror .CodeMirror-code .cm-header-4 {
              font-size: 110%;
              line-height: 110%;
            }

            .CodeMirror .CodeMirror-code .cm-comment {
              background: rgba(0, 0, 0, .05);
              border-radius: 2px;
            }

            .CodeMirror .CodeMirror-code .cm-link {
              color: #7f8c8d;
            }

            .CodeMirror .CodeMirror-code .cm-url {
              color: #aab2b3;
            }

            .CodeMirror .CodeMirror-code .cm-strikethrough {
              text-decoration: line-through;
            }

            .CodeMirror .CodeMirror-placeholder {
              opacity: .5;
            }
          }
        }
      }
      /deep/ .post-detail-markdown-preview {
        background: $grey-1;
        padding: $spacing-xs;
        overflow: scroll;
      }
    }
  }
}
