@import "../../../../../style/index";
$editor-toolbar-height: 48px;

:host {
  .post-detail {
    .post-detail-content {

    }

    .post-detail-action-bar {
      > * {
        margin-left: $spacing-m;
      }
      .post-detail-preview-icon {
        padding-right: $spacing-xs;
        font-size: $size-icon-m;
      }
    }

    .post-detail-editor-toolbar {
      padding: $spacing-m;
      border-bottom: $grey-4 solid thin;
    }

    .post-detail-form {

      .post-detail-content-wrapper {
        position: relative;
        /deep/ .CodeMirror {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    /deep/ .post-detail-markdown-preview {
      padding: $spacing-xs;
    }
  }
}
