<div class="post-detail" fxFill >
  <form class="post-detail-form" [formGroup]="form" nz-form
        fxFill fxLayout="column" (submit)="submitForm()">
    <div class="post-detail-editor-toolbar" fxLayout>
      <div fxFlex>
        TOOLD BAR
      </div>
      <div class="post-detail-action-bar" fxFlex="none">
        <button nz-button (click)="publish()" *ngIf="!post?.published">
          PUBLISH
        </button>
        <button nz-button nzType="primary"> SAVE </button>
      </div>
    </div>
    <div fxFlex class="post-detail-content-wrapper">
      <ngx-codemirror
        formControlName="raw"
        [options]="{
          theme: 'material',
          mode: 'markdown'
        }"
      ></ngx-codemirror>
    </div>
  </form>
</div>
