@import "../../../../../style/index";
$editor-toolbar-height: 48px;

:host {
  .post-detail {
    padding: $spacing-m;
    .post-detail-content {

    }

    .post-detail-action-bar {
      > * {
        margin-left: $spacing-m;
      }
      .post-detail-preview-icon {
        padding-right: $spacing-xs;
        font-size: $size-icon-m;
      }
    }

    .post-detail-editor-toolbar {
      /deep/ .ant-btn-group {
        margin-right: $spacing-xs;
        > .ant-btn {
          line-height: initial;
        }
      }
    }

    .post-detail-divider {
      margin-top: $spacing-s;
      margin-bottom: $spacing-s;
    }

    .post-detail-form-wrapper {
      border: thin solid $grey-3;
      border-top: none;
      .post-detail-form {
        .post-detail-content-wrapper {
          position: relative;
          /deep/ .CodeMirror {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
      /deep/ .post-detail-markdown-preview {
        background: $grey-1;
        padding: $spacing-xs;
        overflow: scroll;
      }
    }
  }
}
