<div class="article-list-item" [routerLink]="article._id"
     [ngClass]="{'article-list-item-post': article.published, 'article-list-item-draft': !article.published}"
     routerLinkActive="active">
  <div fxLayout fxLayoutAlign="start center" fxFill fxFlex
       class="article-list-item-container">
    <i fxFlex="none" class="anticon article-list-item-icon" [ngClass]="{'anticon-file-text': article.published, 'anticon-exception': !article.published}"></i>
    <div fxFlex class="article-list-item-info">
      <div class="article-list-item-title"> {{article.file}}</div>
      <div class="article-list-item-subtitle"> {{article.date.format('YYYY-MM-DD')}} </div>
    </div>
    <div fxFlex="none" fxLayout class="article-list-item-actions-wrapper">
      <div class="article-list-item-actions">
        <nz-dropdown>
          <button nz-button nz-dropdown nzShape="circle" nzGhost nzSize="small" class="article-list-item-actions-more"><i class="anticon anticon-ellipsis"></i></button>
          <ul nz-menu>
            <li nz-menu-item [nzDisabled]="!article.asset_dir || !isPostAssetFolderActive" (click)="openAssetFolder()">
              <a><i class="anticon anticon-folder-open"></i> FOLDER </a>
            </li>
            <li nz-menu-item>
              <a (click)="rename()"><i class="anticon anticon-edit"></i> RENAME </a>
            </li>
            <li nz-menu-divider></li>
            <li nz-menu-item>
              <a (click)="removeArticle()"><i class="anticon anticon-delete"></i> DELETE </a>
            </li>
          </ul>
        </nz-dropdown>
      </div>
    </div>
  </div>
</div>
